<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<nav>
  <a [routerLink] = "['equipo']" [routerLinkActive]="['activado']" class="col-md-4 mt-2">Team Builder</a>
  <a [routerLink] = "['busqueda']" [routerLinkActive]="['activado']"class="col-md-4">Búsqeda de Leyenda</a>
  <a [routerLink] = "['contacta']" [routerLinkActive]="['activado']" class="col-md-4">Contáctanos</a>
</nav>


<router-outlet></router-outlet>
